<!DOCTYPE html>
<html>
<head>
	<title>Gallery</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Major+Mono+Display" rel="stylesheet">
	<link rel="stylesheet" href="static/css/main.css"/>
</head>
<body>
	<nav class="navbar navbar-ligth" style="background-color: black">
		<div class="row">
				<a class="navbar-brand" href="">
					<font color="white">j</font>
					<div class="div-brand">
						<a class="brand">my gallery...</a>
					</div>
				</a>
		</div>
	</nav>

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-5 image">
				<img src="../static/image/3.jpg" class="" alt="Image"/>
			</div>
			<div class="col-md-3" align="center">
				<p class="citate">music</p>
			</div>
			<div class="col-md-4 image">
				<img src="../static/image/2.jpg" class="" alt="Image"/>
			</div>
		</div>
		<div class="row">
			<div class ="col-md-2" align="right">
				<p class="citate" style="font-size: 20pt">calm</p>
			</div>
			<div class="col-md-4 image">
				<img src="https://pp.userapi.com/c850536/v850536455/51d65/LjbcxrM1wr4.jpg" class="" alt="Image"/>
			</div>
			<div class="col-md-3 image">
				<img src="../static/image/4.jpg" class="" alt="Image"/> 
				<p class="citate" style="font-size: 20pt">cat martin = new cat();</p>
			</div>
			<div class="col-md-3">
				<p class="citate" style="font-size: 45pt">art</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-1">
				<p class="citate" style="font-size: 15pt">shapes</p>
			</div>
			<div class="col-md-3 image">
				<img src="https://pp.userapi.com/c638320/v638320633/f931/aQJ0zAdIsyA.jpg" class="" alt="Image"/>
			</div>
			<div class="col-md-4 image">
				<img src="../static/image/1.jpg" class="" alt="Image"/>
			</div>
			<div class="col-md-1">
				<p class="citate" style="font-size: 10pt">love</p>
			</div>
			<div class="col-md-3 image">
				<img src="https://mtdata.ru/u24/photo33CE/20578382112-0/original.gif" class="" alt="Image"/>
				<p class="citate" style="font-size: 20pt">relax and seat</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2">
				<p class="citate" style="font-size: 20pt">home</p>
			</div>
			<div class="col-md-3 image">
				<img src="https://pp.userapi.com/c633225/v633225232/10b30/a4syJdAiesI.jpg" class="" alt="Image"/>
			</div>
			<div class="col-md-2">
				<p class="citate" style="font-size: 30pt">laught</p>
			</div>
			<div class="col-md-4 image">
				<img src="https://pp.userapi.com/c841435/v841435763/4f2c1/246IOO-9tec.jpg" class="" alt="Image"/>
			</div>
		</div>
	</div>

	<script src="static/js/jquery.min.js"></script>
    <script src="static/js/main.js"></script>
</body>
</html>
